
<%= form_for @article, :url => { :controllor => :controllers, :action => :update} do |form| %>
    <%= render "form", form: form %>
        <div><%= form.submit %></div>
    <% end %>
    
    